@page {
    size: A4;   /* auto is the initial value */
    margin: 2.5cm 2.5cm 2.5cm 2.5cm;
    marks: crop cross;
}

header nav, footer {
    display: none;
    }
    
body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    }
    
.center-txt {
    padding: 10px;
    text-align: center;
  }
.center {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

